<!DOCTYPE html>
<html lang="ru">
   <head>
      <title>Женская толстовка Champion Reverse Weave Big Script & Logo Sleeve Hoodie 113149-KK001</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../../../css/styles.min.css" type="text/css" media="all">
      <link href="/favicon.ico" rel="icon">
      <script type="text/javascript" src="//static.criteo.net/js/ld/ld.js" async></script>
      <script>
         let dataLayer = window.dataLayer || [];
         // Measure a view of product details. This example assumes the detail view occurs on pageload,
         // and also tracks a standard pageview of the details page.
         dataLayer.push({
           'ecommerce': {
             'detail': {
               'actionField': {'list': 'Product card'},    // 'detail' actions have an optional list property.
               'products': [{"name":"\u0416\u0435\u043d\u0441\u043a\u0430\u044f \u0442\u043e\u043b\u0441\u0442\u043e\u0432\u043a\u0430 Champion Reverse Weave Big Script & Logo Sleeve Hoodie Black","id":"214321","price":7990,"brand":"Champion Reverse Weave","category":"\u041d\u043e\u0432\u0438\u043d\u043a\u0438\/\u041e\u0434\u0435\u0436\u0434\u0430\/\u0422\u043e\u043b\u0441\u0442\u043e\u0432\u043a\u0438"}]
              }
            }
         });
      </script>
   </head>
   <body>
      <div id="app">
         <div class="touch-side-swipe" id="touch-side-swipe">
            <ul class="mobile-menu">
               <li>
                  <div class="link accordion-mobile">
                     <a href="../../../new/index.html">Новинки</a>
                  </div>
               </li>
               <li>
                  <div class="link accordion-mobile">
                     <a href="../../../muzhskoe/index.html">Мужчинам</a>
                  </div>
               </li>
               <li>
                  <div class="link accordion-mobile">
                     <a href="../../../zhenskoe/index.html">Женщинам</a>
                  </div>
               </li>
               <li>
                  <div class="link accordion-mobile">
                     <a href="../../../brendovie-aksessuary/index.html">Аксессуары</a>
                  </div>
               </li>
               <li>
                  <div class="link accordion-mobile">
                     <a href="#">Скидки</a>
                  </div>
               </li>
            </ul>
            <ul class="footer-mobile-menu">
               <li>
                  <a href="/login" class="user">Вход</a>
               </li>
               <li>
                  <a href="#" class="register">Регистрация</a>
               </li>
               <li>
                  <ul>
                     <li>
                        <a href="../../../sitemap/sitemap.html">Карта сайта</a>
                     </li>
                     <li>
                        <a href="../../../oferta/oferta.html">Пользовательское соглашение</a>
                     </li>
                     <li>
                        <a href="../../../privacy/privicy.html">Политика о конфиденциальности</a>
                     </li>
                  </ul>
               </li>
            </ul>
         </div>
         <!-- Header -->
         <header class="fixed" id="header">
            <div class="container">
               <div class="row wrapper">
                  <div class="nav-left hidden-lg">
                     <div class="icon icon-toggler" id="icon-toggler">
                     </div>
                  </div>
                  <div class="nav-title">
                     <div class="logo">
                        <a href="../../../index.html"><img src="../../../img/logo-white.svg" title="BRANDSHOP"></a> 
                     </div>
                  </div>
                  <nav>
                     <div class="cat hassubs">
                        <a href="../../../new/index.html">Новинки</a>
                     </div>
                     <div class="cat hassubs">
                        <a href="../../../muzhskoe/index.html">Мужчинам</a>
                     </div>
                     <div class="cat hassubs">
                        <a href="../../../zhenskoe/index.html">Женщинам</a>
                     </div>
                     <div class="cat hassubs">
                        <a href="../../../brendovie-aksessuary/index.html">Аксессуары</a>
                     </div>
                     <div class="cat hassubs">
                        <a href="#">Скидки</a>
                     </div>
                  </nav>
                  <div class="nav-right">
                     <div class="icon icon-search" is="header-search"></div>
                     <div class="icon icon-cart" data-qty="0" is="header-cart" ref="cart"></div>
                     <div class="icon icon-profile hidden-sm" is="header-profile">
                        <div class="header-dropdown">
                           <div class="profile">
                              <form action="/login/" method="post">
                                 <input type="hidden" name="redirect" value="/">
                                 <div class="row">
                                    <div class="col col-12">
                                       <input type="text" name="email" v-model="email" value="" placeholder="Логин/E-Mail:" required="required">
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col col-12">
                                       <input type="password" name="password" value="" placeholder="Пароль:" required="required">
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col col-12">
                                       <button type="submit" class="btn-black btn-fluid" v-on:click="enPopSubscrube">Вход</button>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col col-6">
                                       <a href="#" class="small-link">Забыли пароль?</a>
                                    </div>
                                    <div class="col col-6 text-right">
                                       <a href="#" class="small-link">Регистрация</a>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col col-12">
                                       <a href="/loginvk/" class="vk" rel="nofollow">
                                       <img src="../../../img/vk-bl.svg">Вконтакте
                                       </a>
                                    </div>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </header>
         <!-- Main -->
          <main class="product-card" itemscope itemtype="http://schema.org/Product" id="app-product-card">
             <div class="container">
                <div class="row top hidden-sm">
                   <div class="col col-12">
                      <div class="breadcrumbs">
                         <div><a href="../../../index.html">Главная</a></div>
                        <div><a href="#">Толстовки</a></div>
                        <div>
                           Big Script & Logo Sleeve Hoodie
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row no-gutters">
                  <div class="col col-7 col-sm-12 product-image">
                     <div class="row">
                        <div class="col col-2 product-thumbs hidden-sm" sticky-container>
                           <div v-sticky="stickyEnabled" sticky-offset="{top: 80, bottom: 0}" sticky-side="both">
                              <img src="https://img.brandshop.ru/cache/products/z/zhenskaya-tolstovka-champion-reverse-weave-big-script-logo-sleeve-hoodie-black-0_86x86.jpg" data-rjs="https://img.brandshop.ru/cache/products/z/zhenskaya-tolstovka-champion-reverse-weave-big-script-logo-sleeve-hoodie-black-0_172x172.jpg" data-no-resize="false" alt="Женская толстовка Champion Reverse Weave Big Script & Logo Sleeve Hoodie Black фото - 0" class="active img-responsive">
                              <img src="https://img.brandshop.ru/cache/products/z/zhenskaya-tolstovka-champion-reverse-weave-big-script-logo-sleeve-hoodie-black-1_86x86.jpg" data-rjs="https://img.brandshop.ru/cache/products/z/zhenskaya-tolstovka-champion-reverse-weave-big-script-logo-sleeve-hoodie-black-1_172x172.jpg" data-no-resize="false" alt="Женская толстовка Champion Reverse Weave Big Script & Logo Sleeve Hoodie Black фото - 1" class=" img-responsive">
                           </div>
                        </div>
                        <div class="wishlist-add hidden-lg" data-id="214321"></div>
                        <div
                           v-if="mobile"
                           id="product-image-big"
                           is="slider">
                           <img
                              src="https://img.brandshop.ru/cache/products/z/zhenskaya-tolstovka-champion-reverse-weave-big-script-logo-sleeve-hoodie-black-0_552x552.jpg"
                              data-flickity-lazyload="https://img.brandshop.ru/cache/products/z/zhenskaya-tolstovka-champion-reverse-weave-big-script-logo-sleeve-hoodie-black-0_552x552.jpg"
                              class="carousel__cell img-responsive"
                              data-rjs="https://img.brandshop.ru/cache/products/z/zhenskaya-tolstovka-champion-reverse-weave-big-script-logo-sleeve-hoodie-black-0_1104x1104.jpg"
                              data-no-resize="false"
                              alt="Женская толстовка Champion Reverse Weave Big Script & Logo Sleeve Hoodie Black"
                              itemprop="image"
                              data-zoom-src="https://img.brandshop.ru/cache/products/z/zhenskaya-tolstovka-champion-reverse-weave-big-script-logo-sleeve-hoodie-black-0_1600x1600.jpg"
                              />
                           <img
                              src="https://img.brandshop.ru/cache/products/z/zhenskaya-tolstovka-champion-reverse-weave-big-script-logo-sleeve-hoodie-black-1_552x552.jpg"
                              data-flickity-lazyload="https://img.brandshop.ru/cache/products/z/zhenskaya-tolstovka-champion-reverse-weave-big-script-logo-sleeve-hoodie-black-1_552x552.jpg"
                              class="carousel__cell img-responsive"
                              data-rjs="https://img.brandshop.ru/cache/products/z/zhenskaya-tolstovka-champion-reverse-weave-big-script-logo-sleeve-hoodie-black-1_1104x1104.jpg"
                              data-no-resize="false"
                              alt="Женская толстовка Champion Reverse Weave Big Script & Logo Sleeve Hoodie Black"
                              itemprop="image"
                              data-zoom-src="https://img.brandshop.ru/cache/products/z/zhenskaya-tolstovka-champion-reverse-weave-big-script-logo-sleeve-hoodie-black-1_1600x1600.jpg"
                              />
                        </div>
                        <div
                           v-else
                           class="col col-10 col-sm-12 product-image-big"
                           id="product-image-big">
                           <img v-if="!mobile" src="https://img.brandshop.ru/cache/products/z/zhenskaya-tolstovka-champion-reverse-weave-big-script-logo-sleeve-hoodie-black-0_552x552.jpg" class="img-responsive" data-rjs="https://img.brandshop.ru/cache/products/z/zhenskaya-tolstovka-champion-reverse-weave-big-script-logo-sleeve-hoodie-black-0_1104x1104.jpg" data-no-resize="false" alt="Женская толстовка Champion Reverse Weave Big Script & Logo Sleeve Hoodie Black" itemprop="image" data-zoom-src="https://img.brandshop.ru/cache/products/z/zhenskaya-tolstovka-champion-reverse-weave-big-script-logo-sleeve-hoodie-black-0_1300x1300.jpg" data-zoom-rjs-src="https://img.brandshop.ru/cache/products/z/zhenskaya-tolstovka-champion-reverse-weave-big-script-logo-sleeve-hoodie-black-0_2600x2600.jpg">
                           <img v-if="!mobile" src="https://img.brandshop.ru/cache/products/z/zhenskaya-tolstovka-champion-reverse-weave-big-script-logo-sleeve-hoodie-black-1_552x552.jpg" class="img-responsive" data-rjs="https://img.brandshop.ru/cache/products/z/zhenskaya-tolstovka-champion-reverse-weave-big-script-logo-sleeve-hoodie-black-1_1104x1104.jpg" data-no-resize="false" alt="Женская толстовка Champion Reverse Weave Big Script & Logo Sleeve Hoodie Black" itemprop="image" data-zoom-src="https://img.brandshop.ru/cache/products/z/zhenskaya-tolstovka-champion-reverse-weave-big-script-logo-sleeve-hoodie-black-1_1300x1300.jpg" data-zoom-rjs-src="https://img.brandshop.ru/cache/products/z/zhenskaya-tolstovka-champion-reverse-weave-big-script-logo-sleeve-hoodie-black-1_2600x2600.jpg">
                        </div>
                     </div>
                  </div>
                  <div class="col col-5 col-sm-12" sticky-container>
                     <div class="product-right" v-sticky="stickyEnabled" sticky-offset="{top: 80, bottom: 0}" sticky-side="both">
                        <div id="zoom"></div>
                        <div class="product-title">
                           <h1>
                              <span itemprop="brand">Champion Reverse Weave&nbsp;</span>
                              <span itemprop="name">Женская толстовка&nbsp;Big Script & Logo Sleeve Hoodie</span>
                           </h1>
                           <meta itemprop="productID" content="214321">
                           <div class="price price-box" data-sale="sale:false" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                              <span class="regprice">
                                 <span>
                                 7&nbsp;990<em class="currency">р</em>
                                 </span>
                                 <meta itemprop="price" content="7990">
                                 <meta itemprop="priceCurrency" content="RUB">
                              </span>
                              <link itemprop="availability" href="http://schema.org/InStock">
                              <link itemprop="url" href="https://brandshop.ru/goods/214321/zhenskaya-tolstovka-champion-reverse-weave-big-script-logo-sleeve-hoodie-black/">
                              <meta itemprop="sku" content="113149-KK001">
                           </div>
                        </div>
                        <div class="product-size" data-product-id="214321">
                           <div class="sizeselect"  data-option-id="2450545" data-option-value-id="228">XS</div>
                           <div class="sizeselect"  data-option-id="2450550" data-option-value-id="229">S</div>
                           <input type="hidden" name="option[466595]" id="product-size">
                           <input type="hidden" name="option-value-id" value="228" id="option_value_id">
                        </div>
                        <div class="sizechart">
                           <a class="btn-underline" v-on:click="showSizeChart('/zhenskaya-tolstovka-size-champion-reverse-weave-big-script-logo-sleeve-hoodie/?ajax=1')">Таблица соответствия размеров</a>
                           <modal id="sizechart" v-cloak></modal>
                        </div>
                        <div is="bs-select" placeholder="Цвет: чёрный" itemprop="color" v-cloak>
                           <a href="https://brandshop.ru/goods/214314/zhenskaya-tolstovka-champion-reverse-weave-big-script-logo-sleeve-hoodie-green/">зелёный</a>
                           <a href="https://brandshop.ru/goods/214307/zhenskaya-tolstovka-champion-reverse-weave-big-script-logo-sleeve-hoodie-light-grey/">серый</a>
                           <a href="https://brandshop.ru/goods/223791/zhenskaya-tolstovka-champion-reverse-weave-big-script-logo-sleeve-hoodie-yellow/">жёлтый</a>
                           <a href="https://brandshop.ru/goods/223787/zhenskaya-tolstovka-champion-reverse-weave-big-script-logo-sleeve-hoodie-white/">белый</a>
                           <a href="https://brandshop.ru/goods/223783/zhenskaya-tolstovka-champion-reverse-weave-big-script-logo-sleeve-hoodie-pink/">розовый</a>
                        </div>
                        <button class="btn btn-black btn-cart">
                        Добавить в корзину
                        </button>
                        <button class="btn btn-warning hide"></button>
                        <button class="btn btn-transparent btn-added hide">Нет в наличии</button>
                        <div class="section">
                           <ul class="tabs">
                              <li class="current">Описание</li>
                              <li>Доставка и Оплата</li>
                              <li>Возврат</li>
                           </ul>
                           <div class="box visible" itemprop="description">
                              <p>
                                 Артикул: 113149-KK001<br>
                                 Код товара: 214321<br>
                                 Материал:  100% хлопок<br>
                                 Страна-производитель: Вьетнам
                              </p>
                              <p>Женская толстовка Champion изготовлена из хлопка с использованием плетения Reverse Weave, который препятствует усадке вещи. Модель прямого кроя оснащена регулируемым капюшоном. В манжетах и подоле находятся эластичные вставки. Спереди расположен карман-кенгуру. Завершением дизайна служит вышитый брендинг, расположенный спереди. На рукаве находится нашивка с фирменным логотипом. Толстовка подойдет для повседневного и спортивного образа. Универсальный элемент гардероба на каждый день.</p>
                              <p>
                              <ul>
                                 <li>Мягкий хлопок</li>
                                 <li>Плетение Reverse Weave</li>
                                 <li>Прямой крой</li>
                                 <li>Регулируемый капюшон</li>
                                 <li>Эластичные манжеты и подол</li>
                                 <li>Карман-кенгуру</li>
                                 <li>Вышитый брендинг спереди</li>
                                 <li>Логотип на рукаве</li>
                                 <li>Однотонная расцветка</li>
                              </ul>
                              </p>
                           </div>
                           <div class="box">
                              <p class="relh">Доставка по Москве</p>
                              <ul>
                                 <li style="font-weight:bold; color:#000; margin-top:20px">При покупке от 15000 рублей - бесплатная доставка курьером по Москве</li>
                                 <li>Курьерская доставка по Москве (стоимость 350 рублей, срок доставки 1-3 дня)</li>
                              </ul>
                              <p class="relh">Доставка по России</p>
                              <ul>
                                 <li style="font-weight:bold; color:#000; margin-top:20px">При покупке от 8000 рублей - бесплатная доставка Почтой России</li>
                                 <li>Почта России (стоимость – 490 рублей, 4-14 рабочих дней)</li>
                                 <li>Курьерская служба СДЭК (стоимость - 690 рублей, 2-10 рабочих дней)</li>
                                 <li>EMS Почта России (стоимость – 890 рублей, 4-5 рабочих дней)</li>
                                 <li>DHL (стоимость – 1200 рублей, 1-4 рабочих дня)</li>
                              </ul>
                              <p>Более подробная информация в разделе <a href="/shipping_faq/#qu1">Доставка</a></p>
                              <p>Оплатить свой заказ можно как наличными, так и электронными средствами.</p>
                              <p>Вы можете произвести оплату банковскими картами платежных систем:</p>
                              <ul>
                                 <li>Visa</li>
                                 <li>Mastercard</li>
                              </ul>
                              <p>Или электронными деньгами через платежную систему Яндекс Касса:</p>
                              <ul>
                                 <li>Яндекс Деньги</li>
                                 <li>Киви</li>
                                 <li>Webmoney</li>
                              </ul>
                              <p>Более подробная информация в разделе <a href="/shipping_faq/#qu2">Оплата</a>.</p>
                           </div>
                           <div class="box">
                              <p class="relh">Розничный магазин</p>
                              <p>Возврат товара надлежащего качества осуществляется в течение 14 дней в том магазине, где он был приобретен.</p>
                              <p>Гарантийный срок на товары составляет 60 дней. Претензии по качеству товара предъявляются в магазине по месту покупки.</p>
                              <p class="relh">Интернет-магазин</p>
                              <p>Возврат товара, приобретенного в интернет-магазине курьерской доставкой по Москве, осуществляется только по адресу: Москва, Петровский бульвар, дом 21, на кассе магазина.</p>
                              <p>Не подошедший товар необходимо отправить нам обратно через Почту России или EMS по адресу<br>
                                 Куда: 125124, Москва, ул. Расковой, дом 14<br>
                                 кому: ООО "БШ Стор"
                              </p>
                              <p>К возврату принимаются изделия в товарном виде: без следов эксплуатации, с заводскими бирками и в оригинальной упаковке.</p>
                              <p>Подробнее информация в разделе <a href="/exchange_faq/#quest1">Возврат</a>.</p>
                           </div>
                        </div>
                        <a href="http://brandshop.ru/champion-reverse-weave/" class="btn btn-manufacturer btn-m-transparent">Больше от Champion Reverse Weave</a>
                     </div>
                  </div>
               </div>
               <div id="recomm-block" data-product-id="214321"></div>
            </div>
         </main>
          <!-- Footer -->
          <footer id="app-footer">
            <div class="container">
               <div class="first row">
                  <div class="col col-3 col-sm-12">
                     <div class="row">
                        <div class="col col-12 order-sm-2">
                           <ul class="footer-info hidden-sm">
                              <li class="title mb-0">Новостная рассылка</li>
                           </ul>
                           <div class="subscribe" is="footer-subscribe"></div>
                        </div>
                        <div class="col col-12 order-sm-1">
                           <div class="socials">
                              <ul itemscope="itemscope" itemtype="http://schema.org/Organization">
                                 <link itemprop="url" href="https://brandshop.ru/">
                                 <li><a itemprop="sameAs" href="https://instagram.com/brandshopru/" target="_blank" class="ig"></a></li>
                                 <li><a itemprop="sameAs" href="https://vk.com/brandshop_ru" target="_blank" class="vk"></a></li>
                                 <li><a itemprop="sameAs" href="https://www.facebook.com/brandshop.ru" target="_blank" class="fb"></a></li>
                                 <li><a itemprop="sameAs" href="https://www.youtube.com/user/brandshoprus" target="_blank" class="yt"></a></li>
                                 <li><a itemprop="sameAs" href="https://twitter.com/brandshopru" target="_blank" class="tw"></a></li>
                                 <li><a itemprop="sameAs" href="https://tlgg.ru/brandshopru" target="_blank" class="te"></a></li>
                              </ul>
                              <span></span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col col-1 hidden-sm">
                  </div>
                  <div class="col col-3 col-sm-12">
                     <div class="ya-phone1">
                        <span class="ya-phone-1">+375 (29) 604-68-80</span>
                     </div>
                     <div class="ya-phone2">
                        <span class="ya-phone-2">+375 (29) 604-68-70</span>
                     </div>
                     <span class="time">Ежедневно с 9:00 до 22:00</span>
                     <a href="#">store@brandshop.by</a>
                  </div>
                  <div class="col col-3 col-sm-12 order-1 order-sm-2">
                     <ul class="footer-info">
                        <li><a class="in-menu-all" href="#">Помощь покупателю</a></li>
                        <li><a class="in-menu-all" href="../../../shipping_faq/index.html">Доставка и оплата</a></li>
                        <li><a class="in-menu-all" href="../../../exchange_faq/index.html">Возврат</a></li>
                        <li><a class="in-menu-all" href="../../../loyalty-program/loyalty-program.html">Программа лояльности</a></li>
                     </ul>
                  </div>
                  <div class="col col-2 col-sm-12 order-2 order-sm-1">
                     <ul class="footer-info">
                        <li><a class="in-menu-all" href="../../../contact/contact.html">Контакты</a></li>
                        <li><a class="in-menu-all" href="../../../o-magazine/index.html">Магазины</a></li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="copy">
               <div class="container">
                  <div class="row">
                     <div class="col col-7 col-sm-12 order-1 order-sm-2 order-md-1 copy-links">
                        <span>&copy;  BRANDSHOP, 2020</span>
                        <a class="btn-underline hidden-sm hidden-md" href="../../../oferta/oferta.html">Пользовательское соглашение</a>
                        <a class="btn-underline hidden-sm hidden-md" href="../../../privacy/privicy.html">Политика о конфиденциальности</a>
                        <a class="btn-underline hidden-sm hidden-md" href="../../../sitemap/sitemap.html">Карта сайта</a>
                     </div>
                     <div class="col col-5 col-sm-12 order-2 order-sm-1 order-md-2 footer-icons">
                        <div class="pay-icons">
                           <img src="../../../img/comodo-secured.png" alt="Магазин защищен Comodo secured" title="Магазин защищен Comodo secured">
                           <img src="../../../img/mastercard.png" alt="оплата MasterCard в интернет магазине Brandshop.ru" title="MasterCard">
                           <img src="../../../img/visa.png" alt="оплата Visa в интернет магазине Brandshop.ru" title="Visa">
                           <img src="../../../img/mir.png" alt="Мир" title="Мир">
                        </div>
                        <ul class="delivery">
                           <li><img src="../../../img/pochta-rossii.svg" alt="доставка Почтой России в интернет магазине Brandshop.ru" title="Почта России"></li>
                           <li><img src="../../../img/ems.svg" alt="доставка курьерской службой EMS в интернет магазине Brandshop.ru" title="Курьерская служба EMS"></li>
                           <li><img src="../../../img/cdek.svg" alt="доставка СДЭК'ом в интернет магазине Brandshop.ru" title="Курьерская служба СДЭК"></li>
                           <li><img src="../../../img/dhl.svg" alt="доставка службой DHL в интернет магазине Brandshop.ru" title="Курьерская служба DHL"></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </footer>
      </div>

      <script type="text/javascript" src="../../../js/lang/lang-ru.js"></script>

      <script type="text/javascript" src="../../../js/libs/jquery-3.4.1.min.js"></script>
      <script type="text/javascript" src="../../../js/libs/slick.min.js"></script>
      <script type="text/javascript" src="../../../js/libs/bs.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@19.8.0/dist/js/jquery.suggestions.min.js"></script>
      <script type="text/javascript" src="../../../js/libs/mega_filter.js"></script>
      <script type="text/javascript" src="../../../js/libs/jquery.zoom.js"></script>
      <script type="text/javascript" src="../../../js/libs/touch-sideswipe.js"></script>
      <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

   </body>
</html>